.minicart-toggle {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.minicart-toggle-label {
  position: absolute;
  top: -2px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 21px;
  min-height: 21px;
  padding: 2px;
  background-color: {{color_accent}};
  border-radius: 50%;
}

.minicart-toggle-empty .minicart-toggle-label {
  display: none;
}

.minicart-count {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: normal;
  color: {{body_background}};
}

.amp-grid-item-image-container.amp-image-three-by-two {
  padding-bottom: 66.66667%;
}

.amp-grid-item-image-container.amp-image-one-by-one {
  padding-bottom: 100%;
}

.amp-grid-item-image-container.amp-image-four-by-five {
  padding-bottom: 125%;
}

.amp-grid-item-image-container.amp-image-two-by-three {
  padding-bottom: 150%;
}
