<article class="product-item category-featured-item" data-product-item>
    <div class="
      product-item-image
      category-featured-item-image
      aspect-four-by-five
    ">
        <a href="{{href}}"
           title="{{title}}"
           style="background-image:url({{src}});">
            <img src="{{src}}"
                 alt="{{alt}}">
        </a>
    </div>

    <div class="product-item-details">
        <h1 class="product-item-title category-featured-item-title">
            <a href="{{href}}">{{title}}</a>
        </h1>
    </div>
</article>