<section class="products-section products-featured">
    <h2 class="products-section-title products-featured-title section-title">Our Featured Categories</h2>
    <div class="products-section-grid products-featured-grid">
        {{> components/category/category-item
        alt="Murano Glass"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/murano-glass-group.jpg?t=1542477153&_ga=2.255411336.1483133907.1542475012-821952754.1536542929"
        title="Murano Glass"
        href="http://www.muranoartcollection.com/murano-glass-art-collection/"
        }}
        {{> components/category/category-item
        href="https://www.muranoartcollection.com/art-glass"
        alt="European Art Glass"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/33-120n.jpg?t=1542477150&_ga=2.255411336.1483133907.1542475012-821952754.1536542929"
        title="European Art Glass"
        }}
        {{> components/category/category-item
        alt="Home Decor"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/32-3011.jpg?t=1542476736&_ga=2.75057042.1483133907.1542475012-821952754.1536542929"
        title="Home Decor"
        href="http://www.muranoartcollection.com/home-decor"
        }}
        {{> components/category/category-item
        alt="Gift Ideas"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/79-12251v.jpg?t=1542476737&_ga=2.75057042.1483133907.1542475012-821952754.1536542929"
        title="Gift Ideas"
        href="http://www.muranoartcollection.com/categories/gift-ideas-for-her.html"
        }}
        {{> components/category/category-item
        alt="Best Sellers"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/22-4800.jpg?t=1542476735&_ga=2.75057042.1483133907.1542475012-821952754.1536542929"
        title="Best Sellers"
        href="http://www.muranoartcollection.com/categories/european-art-glass-best-sellers.html"
        }}
    </div>

    <h2 class="products-section-title products-featured-title section-title" style="margin-top:60px;">Murano Glass Art Collection</h2>
    <div class="products-section-grid products-featured-grid">
        {{> components/category/category-item
        alt="murano glass vases"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/19110.jpg?t=1542476742&_ga=2.249299847.1483133907.1542475012-821952754.1536542929"
        title="Vases"
        href="https://www.muranoartcollection.com/categories/murano-glass-vases.html"
        }}
        {{> components/category/category-item
        href="https://www.muranoartcollection.com/categories/murano-glass-birds.html"
        alt="murano glass birds"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/two-birds-new.jpg?t=1542477440&_ga=2.47975335.1483133907.1542475012-821952754.1536542929"
        title="Birds"
        }}
        {{> components/category/category-item
        alt="murano glass nautical"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/19114.jpg?t=1542477152&_ga=2.47916583.1483133907.1542475012-821952754.1536542929"
        title="Nautical"
        href="https://www.muranoartcollection.com/categories/murano-glass-nautical.html"
        }}
        {{> components/category/category-item
        alt="murano glass animals"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/22-4661g.jpg?t=1542476733&_ga=2.47916583.1483133907.1542475012-821952754.1536542929"
        title="Animals"
        href="https://www.muranoartcollection.com/categories/murano-glass-animals.html"
        }}
        {{> components/category/category-item
        alt="murano glass bowls &amp; centerpieces"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/19109-fixed.jpg?t=1542476741&_ga=2.85526425.1483133907.1542475012-821952754.1536542929"
        title="Bowls & centerpieces"
        href="https://www.muranoartcollection.com/categories/murano-glass-bowls-and-centerpieces.html"
        }}
    </div>
    <div class="products-section-grid category-featured-grid" style="margin-top:20px; margin-bottom:20px;">
        {{> components/category/category-item
        alt="murano glass bottles"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/37-3198a.jpg?t=1542477153&_ga=2.81334167.1483133907.1542475012-821952754.1536542929"
        title="Bottles"
        href="https://www.muranoartcollection.com/categories/murano-glass-bottles.html"
        }}
        {{> components/category/category-item
        href="https://www.muranoartcollection.com/categories/murano-glass-sculpture.html"
        alt="murano glass sculptures"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/25105.jpg?t=1542476750&_ga=2.81334167.1483133907.1542475012-821952754.1536542929"
        title="Sculptures"
        }}
        {{> components/category/category-item
        alt="murano glass calcedonia"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/3430.jpg?t=1542476738&_ga=2.81334167.1483133907.1542475012-821952754.1536542929"
        title="Calcedonia"
        href="https://www.muranoartcollection.com/categories/murano-glass-calcedonia.html"
        }}
        {{> components/category/category-item
        alt="murano glass jewelry"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/05316.jpg?t=1542476739&_ga=2.53079848.1483133907.1542475012-821952754.1536542929"
        title="Jewelry"
        href="https://www.muranoartcollection.com/categories/murano-glass-jewelry.html"
        }}
        {{> components/category/category-item
        alt="murano glass gift collection"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/7002.jpg?t=1542477151&_ga=2.53079848.1483133907.1542475012-821952754.1536542929"
        title="Gift Collection"
        href="https://www.muranoartcollection.com/categories/murano-glass-gift-collection.html"
        }}
    </div>
</section>
