<section class="products-section products-featured">
    <h1 class="products-section-title products-featured-title section-title">Our Featured Categories</h1>
    <div class="products-section-grid products-featured-grid">
        {{
> components/category/category-item
        alt="MURANO GLASS"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/murano-glass-group.jpg"
        title="MURANO GLASS"
        href="http://www.muranoartcollection.com/murano-glass-art-collection/"
        }}
        {{
> components/category/category-item
        href="https://www.muranoartcollection.com/art-glass"
        alt="MURANO GLASS"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/murano-glass-group.jpg"
        title="MURANO GLASS"
        href="http://www.muranoartcollection.com/murano-glass-art-collection/"
        }}
        {{
> components/category/category-item
        alt="MURANO GLASS"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/murano-glass-group.jpg"
        title="MURANO GLASS"
        href="http://www.muranoartcollection.com/murano-glass-art-collection/"
        }}
        {{
> components/category/category-item
        alt="MURANO GLASS"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/murano-glass-group.jpg"
        title="MURANO GLASS"
        href="http://www.muranoartcollection.com/murano-glass-art-collection/"
        }}
        {{
> components/category/category-item
        alt="MURANO GLASS"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/murano-glass-group.jpg"
        title="MURANO GLASS"
        href="http://www.muranoartcollection.com/murano-glass-art-collection/"
        }}
    </div>
</section>
