<section class="products-section products-featured">
    <h2 class="products-section-title products-featured-title section-title">Our Featured Categories</h2>
    <div class="products-section-grid products-featured-grid">
        {{> components/category/category-item
        alt="Murano Glass"
        src="https://cdn11.bigcommerce.com/s-22729/products/1296/images/3864/58137__51379.1540842306.1280.1280.JPG?c=2&_ga=2.27238847.384480281.1541508564-821952754.1536542929"
        title="Murano Glass"
        href="http://www.muranoartcollection.com/murano-glass-art-collection/"
        }}
        {{> components/category/category-item
        href="https://www.muranoartcollection.com/art-glass"
        alt="European Art Glass"
        src="https://cdn7.bigcommerce.com/s-22729/product_images/uploaded_images/33-120n-fixed.jpg"
        title="European Art Glass"
        }}
        {{> components/category/category-item
        alt="Home Decor"
        src="https://cdn11.bigcommerce.com/s-22729/products/1200/images/3853/57-47341R__59540.1540586735.1280.1280.jpg?c=2&_ga=2.196422190.384480281.1541508564-821952754.1536542929"
        title="Home Decor"
        href="http://www.muranoartcollection.com/home-decor"
        }}
        {{> components/category/category-item
        alt="Gift Ideas"
        src="https://cdn7.bigcommerce.com/s-22729/product_images/uploaded_images/56-252b1.jpg"
        title="Gift Ideas"
        href="http://www.muranoartcollection.com/categories/gift-ideas-for-her.html"
        }}
        {{> components/category/category-item
        alt="Best Sellers"
        src="https://cdn11.bigcommerce.com/s-22729/products/280/images/3395/22-4767A__14038.1528837017.1280.1280.jpg?c=2&_ga=2.27787710.384480281.1541508564-821952754.1536542929"
        title="Best Sellers"
        href="http://www.muranoartcollection.com/categories/european-art-glass-best-sellers.html"
        }}
    </div>

    <h2 class="products-section-title products-featured-title section-title" style="margin-top:60px;">Murano Glass Art Collection</h2>
    <div class="products-section-grid products-featured-grid">
        {{> components/category/category-item
        alt="murano glass vases"
        src="https://cdn11.bigcommerce.com/s-22729/products/1030/images/3203/19112A__37128.1533671303.1280.1280.jpg?c=2&_ga=2.27615934.384480281.1541508564-821952754.1536542929"
        title="Vases"
        href="https://www.muranoartcollection.com/categories/murano-glass-vases.html"
        }}
        {{> components/category/category-item
        href="https://www.muranoartcollection.com/categories/murano-glass-birds.html"
        alt="murano glass birds"
        src="https://cdn11.bigcommerce.com/s-22729/products/1355/images/3873/22-4691__91898.1541191708.1280.1280.jpg?c=2&_ga=2.242657536.384480281.1541508564-821952754.1536542929"
        title="Birds"
        }}
        {{> components/category/category-item
        alt="murano glass nautical"
        src="https://cdn11.bigcommerce.com/s-22729/products/1032/images/3196/19114A__38633.1528388145.1280.1280.jpg?c=2&_ga=2.265235725.384480281.1541508564-821952754.1536542929"
        title="Nautical"
        href="https://www.muranoartcollection.com/categories/murano-glass-nautical.html"
        }}
        {{> components/category/category-item
        alt="murano glass animals"
        src="https://cdn11.bigcommerce.com/s-22729/products/1038/images/3607/19121__21702.1530804524.1280.1280.jpg?c=2&_ga=2.265235725.384480281.1541508564-821952754.1536542929"
        title="Animals"
        href="https://www.muranoartcollection.com/categories/murano-glass-animals.html"
        }}
        {{> components/category/category-item
        alt="murano glass bowls &amp; centerpieces"
        src="https://cdn11.bigcommerce.com/s-22729/products/1095/images/2984/19145__47780.1527886410.1280.1280.jpg?c=2&_ga=2.37097122.384480281.1541508564-821952754.1536542929"
        title="Bowls & centerpieces"
        href="https://www.muranoartcollection.com/categories/murano-glass-bowls-and-centerpieces.html"
        }}
    </div>
    <div class="products-section-grid category-featured-grid" style="margin-top:20px; margin-bottom:20px;">
        {{> components/category/category-item
        alt="murano glass bottles"
        src="https://cdn11.bigcommerce.com/s-22729/products/795/images/1383/26_5001C__74865.1398013353.1280.1280.JPG?c=2&_ga=2.73285905.384480281.1541508564-821952754.1536542929"
        title="Bottles"
        href="https://www.muranoartcollection.com/categories/murano-glass-bottles.html"
        }}
        {{> components/category/category-item
        href="https://www.muranoartcollection.com/categories/murano-glass-sculpture.html"
        alt="murano glass sculptures"
        src="https://cdn11.bigcommerce.com/s-22729/products/829/images/3590/37310__22615.1530294418.1280.1280.jpg?c=2&_ga=2.241543424.384480281.1541508564-821952754.1536542929"
        title="Sculptures"
        }}
        {{> components/category/category-item
        alt="murano glass calcedonia"
        src="https://cdn11.bigcommerce.com/s-22729/product_images/uploaded_images/3430-fixed.jpg?t=1529332554&_ga=2.267273356.384480281.1541508564-821952754.1536542929"
        title="Calcedonia"
        href="https://www.muranoartcollection.com/categories/murano-glass-calcedonia.html"
        }}
        {{> components/category/category-item
        alt="murano glass jewelry"
        src="https://cdn7.bigcommerce.com/s-22729/product_images/uploaded_images/05318.jpg"
        title="Jewelry"
        href="https://www.muranoartcollection.com/categories/murano-glass-jewelry.html"
        }}
        {{> components/category/category-item
        alt="murano glass gift collection"
        src="https://cdn11.bigcommerce.com/s-22729/products/1117/images/3782/54-5128C__58985.1534183883.1280.1280.jpg?c=2&_ga=2.263531790.384480281.1541508564-821952754.1536542929"
        title="Gift Collection"
        href="https://www.muranoartcollection.com/categories/murano-glass-gift-collection.html"
        }}
    </div>
</section>
